


  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <h1 class="login_heading">Login</h1>
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>

              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text">
                <i class="fas fa-key"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <div class="form-group">
              <div class="custom-control">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %><%= f.label :remember_me %>

              <% end %>
              
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <button type="submit"  class="btn btn-danger">
                Login
              </button>
            </div>
          <%end%>
          
          <p>
            Don't have an account?<%= render "devise/shared/links" %>
          </p>
        </div>
      </div>
    </div>
  </div>
